@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="~/css/hepatitis.css" />


<div class="container my-4">
    <div class="card custom-card-body">
    <div class="card-header bg-primary text-white">
      <h4>Diagnóstico de Hepatitis</h4>
    </div>
        <div class="card-body">
      <form>
        <div class="form-group">
          <label for="category">Categoría:</label>
                <input type="text" class="form-control custom-input" id="category" name="category" required>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="age">Edad:</label>
                <input type="number" class="form-control custom-input" id="age" name="age" required>
          </div>
          <div class="form-group col-md-4">
            <label for="sex">Sexo:</label>
            <select class="form-control" id="sex" name="sex" required>
              <option value="">Selecciona una opción</option>
              <option value="M">Masculino</option>
              <option value="F">Femenino</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="alb">ALB:</label>
            <input type="number" class="form-control" id="alb" name="alb" required>
          </div>
          <div class="form-group col-md-4">
            <label for="alp">ALP:</label>
            <input type="number" class="form-control" id="alp" name="alp" required>
          </div>
          <div class="form-group col-md-4">
            <label for="alt">ALT:</label>
            <input type="number" class="form-control" id="alt" name="alt" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="ast">AST:</label>
            <input type="number" class="form-control" id="ast" name="ast" required>
          </div>
          <div class="form-group col-md-4">
            <label for="bil">BIL:</label>
            <input type="number" class="form-control" id="bil" name="bil" required>
          </div>
          <div class="form-group col-md-4">
            <label for="che">CHE:</label>
            <input type="number" class="form-control" id="che" name="che" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="chol">CHOL:</label>
            <input type="number" class="form-control" id="chol" name="chol" required>
          </div>
          <div class="form-group col-md-4">
            <label for="crea">CREA:</label>
            <input type="number" class="form-control" id="crea" name="crea" required>
            </div>
          <div class="form-group col-md-4">
            <label for="ggt">GGT:</label>
            <input type="number" class="form-control" id="ggt" name="ggt" required>
          </div>
        </div>
        <div class="form-group">
          <label for="prot">PROT:</label>
            <input type="number" class="form-control custom-input" id="prot" name="prot" required>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>
</div>
